.pagebg {
    background: url("../images/newbg.jpg");
    background-size: cover;
}

body {
    line-height: 1;
}

.crystal-image {
    margin: 2px;
    width: 23%;
}

.my-margin {
    margin-top: 2%;
}

.card-header {
    padding: .5rem .5rem;
}

.card-body {
    padding: .25rem;
}

#myFont {
    font-family: 'zirconiaregular', 'Bungee Shade', cursive;
    /* text-shadow: 2px 2px 3px #5a5a5a; */
}

.myFontStyle {
    background: -webkit-linear-gradient(#f7bb05, #aaff00, #f7bb05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gradient-bg {
    background-color: #1e1e1e;
    background-image: linear-gradient(#787878, #1e1e1e);
    /* opacity: .8; */
}

.my-transparency {
    /* opacity: .8; */
    background-color: rgba(245, 245, 245, 0.85);
}