.pagebg {
    background: url("../images/newbg.jpg");
    background-size: cover;
}

body {
    line-height: 1;
}

.crystal-image {
    margin: 2px;
    width: 23%;
}

.my-margin {
    margin-top: 2%;
}

.card-header {
    padding: .5rem .5rem;
}

.card-body {
    padding: .25rem;
}

.title {
    font-family: 'zirconiaregular', 'Bungee Shade', cursive;
}

/* .rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
} */

#gradient-bg {
    background-color: #1e1e1e;
    background-image: linear-gradient(#1e1e1e, #787878);
}

.my-transparency {
    /* opacity: .8; */
    background-color: rgba(245, 245, 245, 0.85);
}